body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    text-align: center;
    padding: 120px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.Document {
    padding: 10px 15px;
    text-align: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 16px;
    margin-bottom: 10px 0;
    display: inline-block;
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

@media (max-width: 768px) {
    .icon {
        flex-direction: column;
    }

    .icon a {
        margin: 10px 0;
    }
}

.Document:hover {
    background-color: rgba(0, 0, 0, 0.7);
}